<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Yang's website</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
        <link rel="icon" href="static/favicon.icn">
    </head>
    <body>
        <div class="top-container">
            <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
            <div class="title-text">
              <h1>Yang Yang, Ph.D</h1>
              <h2><span class="pro">Western Carolina University</span> Faculty</h2>
            </div>
            <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
            <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
          </div>
         <div class="middle-container">
            <div class="profile">
                <img src="static/images/head_shot.png" alt="yang-profile-img">
                <h2 class="title">Assistant Professor</h2>
                <p>College of Arts and Sciences</p>
                <p>Geosciences and Natural Resources</p>
            </div>
         </div>
         <div class="contact-me">
            <h2>Contact Information</h2>
            <h3>If you love hot wings as much as I do.</h3>
            <p class="contact-message">Love hot wings as much as I do? Let's talk about how awesome they are! We can code while we eat hot wings!</p>
            <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
          </div>
         <div class="middle-container">
            <div class="l-content fullwidth l-region user-editable">
               <div class="upper">
                  <div class="upper-content">
                     <div class="contact-box">
                        <h2 class="title"></h2>
                        Email: <a href="mailto:yangy@wcu.edu" target="_blank">yangy@wcu.edu</a><br>
                        Phone: 828.227.2234<br>
                        Office: 416&nbsp;Stillwell&nbsp;Building
                        Pronouns: <span id="pronounstext">he/him/his</span></span></div>
                  </div>
               </div>
               <div class="optional">
                  <div class="lower-content" id="biography">
                     <h2 class="title">Biography</h2>
                     <p id="biographytext">I earned an M.S. in Forest Ecology and Management and a Ph.D. in Environmental Science,
                        both from SUNY College of Environmental Science and Forestry. Before I joined the
                        Western, I was a postdoc scholar at the University of California Merced and a visiting
                        scholar at the University of California Riverside.</p>
                  </div>
                  <div class="lower-content" id="education">
                     <h2 class="title">Education</h2>
                     <ul>
                        <li>Ph D, SUNY College of Environmental Science and Forestry</li>
                        <li>MS, SUNY College of Environmental Science and Forestry</li>
                        <li>BS, Foreign Institution</li>
                     </ul>
                  </div>
                  <div class="lower-content" id="teaching">
                     <h2 class="title">Teaching Interests</h2>
                     <p id="teachingtext">I enjoy teaching students in forest ecology, soil conservation, and natural resources
                        management. Here is a list of courses that I am teaching at Western: NRM 150 Career
                        Opportunities in Natural Resources Management, NRM 210 Methods in Natural Resources
                        Management, NRM 320 Soil Conservation, NRM 440 Integrated Resources Management, NRM
                        480 Independent Study: Dendrochronology. </p>
                  </div>
                  <div class="lower-content" id="research">
                     <h2 class="title">Research Interests</h2>
                     <p id="researchtext">My research focuses on understanding how climate change and anthropogenic activities
                        will affect the structure and ecological functions of terrestrial ecosystems. I am
                        specifically interested in looking at nutrient cycling and water quality in forested
                        ecosystems.</p>
                  </div>
               </div>
            </div>

            <div class="bottom-container">
                <a class="footer-link" href="https://www.linkedin.com/in/angela-yu-963a584b/">LinkedIn</a>
                <a class="footer-link" href="https://twitter.com/yu_angela">Twitter</a>
                <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
                <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>
              </div>
    </body>
</html>